/* box-sizing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  line-height: 18px;
}

main {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
}

/* Maing image container */
#main-image {
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0 left 0;
  height: 78vh;
  margin: 0 auto;
}

/* Navigation bar */
nav {
  width: 70%;
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  top: 60px;
  padding: 20px 0;
}

nav ul {
  background: linear-gradient(to top, #8a8a8a 0%, #717171 50%, #5e5e5e 50%, #737373 100%);
  border-radius: 5px;
  border: #545454 1px solid;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
}

nav ul li {
  background-image: url("../img/globalnav_text.png");
  background-repeat: no-repeat;
  background-size: auto;
  width: 9rem;
  height: 98%;
}

nav ul li:hover {
  background-image: url("../img/globalnav_text.png"), radial-gradient(circle, #11111161, #21212161);
  background-repeat: no-repeat;
  background-size: auto;
  width: 9rem;
  height: 100%;
}

.nav-separator-in {
  width: 1px;
  height: 100%;
  background: linear-gradient(to top, #696969 0%, #545454 50%, #464646 50%, #565656 100%);
  margin: 0 auto;
}

.nav-separator-out {
  width: 3px;
  height: 100%;
  background-image: linear-gradient(to top, #989898 0%, #7e7e7e 50%, #6e6e6e 50%, #818181 100%);
}

#apple-icon {
  background-position: bottom 101% center;
}

#store {
  background-position: bottom 87% center;
}

#mac {
  background-position: bottom 72.5% center;
}

#ipod {
  background-position: bottom 58% center;
}

#iphone {
  background-position: bottom 43.5% center;
}

#ipad {
  background-position: bottom 29.5% center;
}

#itunes {
  background-position: bottom 15% center;
}

#support {
  background-position: bottom 0.5% center;
}

#search {
  background-image: none;
}

#search input {
  width: 100%;
  height: 50%;
  margin: 12% 0;
  background-image: url("../img/índice-white.png"), linear-gradient(to top, #8a8a8a 0%, #717171 50%, #5e5e5e 50%, #737373 100%);
  border: 0;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#main-text {
  padding: 5rem 0;
}

#what-verse {
  background-image: url("../img/your_verse_title_medium.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 80rem;
  height: 10rem;
}

#share-your-story {
  background-image: url("../img/your_verse_subhead_medium.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 80rem;
  height: 10rem;
}

#watch-your-verse {
  background-image: url("../img/cta_your_verse_46pt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0 left 0;
  margin: 0 auto;
  width: 50rem;
  height: 2.95rem;
}

#watch-your-verse:hover {
  background-position: top 100% left 0;
}

#related-links {
  display: flex;
}

.bottom-images {
  width: 25%;
  height: 200px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px white solid;
}

#iphone-5s {
  background-image: url(../img/promo_iphone5s.jpg);
}

#iphone-5c {
  background-image: url(../img/promo_iphone5c.jpg);
}

#happy-30-birthday {
  background-image: url(../img/promo_30_years.jpg);
}

#supplier-responsability {
  background-image: url(../img/promo_supplier_responsibility.jpg);
}

footer {
  width: 70vw;
  max-width: 980px;
  margin: 0 auto;

  /* Text properties */
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #6e6e6e;
  font-size: 0.8334rem;
  line-height: 1.2rem;
}

footer a {
  text-decoration: none;
  color: #08c;
}

footer a:hover {
  text-decoration: underline;
}

#links-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

#right-footer-links a {
  border-right: 1px solid #ccc;
  padding: 0 6px;
}

#usa-language {
  width: 0.9rem;
  height: 0.9rem;
}
