/* box-sizing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
}

#main-image {
  background-image: url(../img/hero-background.jpg);
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin: 0 auto;
}

#related-links {
  display: flex;
}

.bottom-images {
  width: 25%;
  height: 200px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

#iphone-5s {
  background-image: url(../img/promo_iphone5s.jpg);
}

#iphone-5c {
  background-image: url(../img/promo_iphone5c.jpg);
}

#happy-30-birthday {
  background-image: url(../img/promo_30_years.jpg);
}

#supplier-responsability {
  background-image: url(../img/promo_supplier_responsibility.jpg);
}
