/* box-sizing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  line-height: 18px;
}

main {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
}

#main-text {
  padding: 5rem 0;
}

#what-verse {
  background-image: url("../img/your_verse_title_medium.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 40rem;
  height: 5rem;
}

#share-your-story {
  background-image: url("../img/your_verse_subhead_medium.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 60rem;
  height: 7rem;
}

#watch-your-verse {
  background-image: url("../img/cta_your_verse_46pt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0 left 0;
  margin: 0 auto;
  width: 40rem;
  height: 2.3rem;
}

#watch-your-verse:hover {
  background-position: top 100% left 0;
}

#main-image {
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0 left 0;
  height: 80vh;
  margin: 0 auto;
}

#related-links {
  display: flex;
}

.bottom-images {
  width: 25%;
  height: 200px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

#iphone-5s {
  background-image: url(../img/promo_iphone5s.jpg);
}

#iphone-5c {
  background-image: url(../img/promo_iphone5c.jpg);
}

#happy-30-birthday {
  background-image: url(../img/promo_30_years.jpg);
}

#supplier-responsability {
  background-image: url(../img/promo_supplier_responsibility.jpg);
}

footer {
  width: 70vw;
  max-width: 980px;
  margin: 0 auto;

  /* Text properties */
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #6e6e6e;
  font-size: 0.8334rem;
  line-height: 1.2rem;
}

footer a {
  text-decoration: none;
  color: #08c;
}

footer a:hover {
  text-decoration: underline;
}

#links-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

#links-footer span {
  padding: 0.5rem 0;
}

#usa-language {
  width: 16px;
  height: 16px;
}
